<div class="content-wrapper">
    <h2>Comments for "<%= @post.title %>"</h2>
    <p><strong>Posted by:</strong> <%= @post.email %></p>
    <p><%= @post.body %></p>

    <% if user_signed_in? %>
    <%= link_to "Add Comment", new_post_comment_path(@post), class: "btn btn-createpost" %>
    <% else %>
    <button class="btn btn-comment" disabled>Log in to comment</button>
    <% end %>

    <h3>Comments:</h3>
    <% @comments.each do |comment| %>
    <div class="post-card">
        <strong><%= comment.email %></strong> - <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %>
        <p><%= comment.body %></p>
    </div>
    <% end %>

    <%= link_to "Back to Post", root_path, class: "btn btn-primary" %>
</div>
