<style>
  .sidebar {
    background-color: gray;
  }
</style>

<div class="sidebar">
  <% if user_signed_in? || admin_signed_in? %>
    <h2>Navigation</h2>
    <%= link_to "Feed Page", root_path, class: "btn btn-navbar" %>
    <%= link_to "Featured Page", featured_posts_path, class: "btn btn-navbar" %>
    <br><br>

    <% if user_signed_in? %>
      <%= link_to "My Posts", my_posts_path, class: "btn btn-navbar" %>
      <%= link_to "Create Post", new_post_path, class: "btn btn-createpost" %>
      <br><br>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-logout" %>
    <% elsif admin_signed_in? %>
      <%= button_to "Logout", destroy_admin_session_path, method: :delete, class: "btn btn-logout" %>
    <% end %>

  <% else %>
    <h2>User</h2>
    <%= link_to "User Login", new_user_session_path, class: "btn btn-info" %>
    <%= link_to "User Signup", new_user_registration_path, class: "btn btn-info" %>
    
    <hr>

    <h2>Admin</h2>
    <%= link_to "Admin Login", new_admin_session_path, class: "btn btn-info" %>
    <%= link_to "Admin Signup", new_admin_registration_path, class: "btn btn-info" %>
  <% end %>
</div>
