<turbo-frame id="post_<%= post.id %>">
  <h1>Edit Post</h1>

  <%= form_with model: post, url: post_path(post), method: :patch, local: false do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control", required: true %>
    </div>
    <%= f.submit "Save Changes", class: "btn btn-primary" %>
    <%= link_to "Cancel", post_path(post), class: "btn btn-secondary", data: { turbo_frame: "post_#{post.id}" } %>
  <% end %>
</turbo-frame>
